.Calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid #282c34;
  width: 500px;
  gap: 1px;
}

.input {
  grid-column: span 4;
  background-color: burlywood;
  justify-content: flex-end;
}

.zero {
  grid-column: span 2;
  background-color: cornflowerblue;
}

span {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: orange;
}
